.container-fluid {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}