.slider__container {
    padding: 50px;
    width: 100%;
}

@media screen and (max-width: 1270px) {
    .slider__container {
        align-self: flex-end;
    }
}

@media screen and (max-width: 1000px) {
    .slider__container {
        width: 70%;
    }
}

@media screen and (max-width: 620px) {
    .slider__container {
        width: 100%;
        align-self: center;
    }
}

@media screen and (max-width: 480px) {
    .slider__container {
        padding: 20px;
    }
}