

/* Start:/local/templates/mantera-residence/components/bitrix/news.detail/about/style.css?1637817098155*/
div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */


/* Start:/local/templates/mantera-residence/components/bitrix/news.list/benefits/style.css?1637149667150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/local/templates/mantera-residence/components/bitrix/news.detail/slogan_light_waves/style.css?1637900661155*/
div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */


/* Start:/local/templates/mantera-residence/components/bitrix/news.detail/outdoor_pools/style.css?1637898560155*/
div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */


/* Start:/local/templates/mantera-residence/components/bitrix/news.detail/slogan/style.css?1637900661155*/
div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */


/* Start:/local/templates/mantera-residence/components/bitrix/news.detail/spa_swimming_pool/style.css?1637902004155*/
div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */


/* Start:/local/templates/mantera-residence/components/bitrix/news.list/services/style.css?1637221668150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/local/templates/mantera-residence/components/bitrix/news.detail/residences/style.css?1637302414155*/
div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */


/* Start:/local/templates/mantera-residence/components/bitrix/news.detail/penthouses/style.css?1637810576155*/
div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */


/* Start:/local/templates/mantera-residence/components/bitrix/news.detail/villas/style.css?1637749915155*/
div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */


/* Start:/local/templates/mantera-residence/components/bitrix/news.detail/sales_office/style.css?1637833981155*/
div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */


/* Start:/local/templates/mantera-residence/components/bitrix/news.list/team/style.css?1637571347150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /local/templates/mantera-residence/components/bitrix/news.detail/about/style.css?1637817098155 */
/* /local/templates/mantera-residence/components/bitrix/news.list/benefits/style.css?1637149667150 */
/* /local/templates/mantera-residence/components/bitrix/news.detail/slogan_light_waves/style.css?1637900661155 */
/* /local/templates/mantera-residence/components/bitrix/news.detail/outdoor_pools/style.css?1637898560155 */
/* /local/templates/mantera-residence/components/bitrix/news.detail/slogan/style.css?1637900661155 */
/* /local/templates/mantera-residence/components/bitrix/news.detail/spa_swimming_pool/style.css?1637902004155 */
/* /local/templates/mantera-residence/components/bitrix/news.list/services/style.css?1637221668150 */
/* /local/templates/mantera-residence/components/bitrix/news.detail/residences/style.css?1637302414155 */
/* /local/templates/mantera-residence/components/bitrix/news.detail/penthouses/style.css?1637810576155 */
/* /local/templates/mantera-residence/components/bitrix/news.detail/villas/style.css?1637749915155 */
/* /local/templates/mantera-residence/components/bitrix/news.detail/sales_office/style.css?1637833981155 */
/* /local/templates/mantera-residence/components/bitrix/news.list/team/style.css?1637571347150 */
