.nav__item_color {
    background-color: rgb(113, 135, 141);
    color: #f8f9fa;
    font-family: "Favorit Pro", Arial, Helvetica, sans-serif;
    display: block;
    letter-spacing: 1.2px;
    font-weight: 200;
}

.nav__item_color:hover {
    background-color: #b7c1c1;
}