.residence-info-table {
    width: 100%;
    margin-top: 20px;
}

.residence-info-table__head {
    font: 2.5rem/3.6rem "Favorit Pro", Arial, Helvetica, sans-serif;
}

/* @media screen and (max-width: 1250px) {
    .residence-info-table {
        width: 56%;
    }
}

@media screen and (max-width: 1000px) {
    .residence-info-table {
        width: 90%;
    }
}
 */
