.row_bottom {
    justify-content: space-between;
    display: flex;
}

@media screen and (max-width: 1000px) {
    .row_bottom {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}